{{ define "main" }}
<div class="wrapper post">
    <main class="page-content" aria-label="Content">
        <article>
            <header class="header">
                <h1 class="header-title">{{ .Title }}</h1>
                {{ $configDateFormat := .Site.Params.dateFormat | default ":date_medium" }}
                {{ with .Date }}
                {{ $ISO_time := dateFormat "2006-01-02T15:04:05-07:00" . }}
                <div class="post-meta" style="font-size: 0.85rem; opacity: 0.8;">
                    Last Updated: <time datetime="{{ $ISO_time }}" itemprop="datePublished"> {{ . | time.Format $configDateFormat }} </time>
                </div>
                {{ end }}
                {{ with .GetTerms "tags" }}
                <div class="post-tags" style="font-size: 0.85rem; opacity: 0.8; margin-top: 0.5rem;">
                    Tags:
                    {{ range . }}
                    <a href="{{ .RelPermalink }}" style="margin-right: 0.5rem;">#{{ .LinkTitle }}</a>
                    {{ end }}
                </div>
                {{ end }}
            </header>
            {{ partial "toc.html" .}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </article>
        {{- partial "comments.html" . -}}
    </main>
</div>
{{ end }}